.page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --tblr-gutter-x: 0;
  }
  .g-sm-0,
  .gy-sm-0 {
    --tblr-gutter-y: 0;
  }
  .g-sm-1,
  .gx-sm-1 {
    --tblr-gutter-x: 0.25rem;
  }
  .g-sm-1,
  .gy-sm-1 {
    --tblr-gutter-y: 0.25rem;
  }
  .g-sm-2,
  .gx-sm-2 {
    --tblr-gutter-x: 0.5rem;
  }
  .g-sm-2,
  .gy-sm-2 {
    --tblr-gutter-y: 0.5rem;
  }
  .g-sm-3,
  .gx-sm-3 {
    --tblr-gutter-x: 1rem;
  }
  .g-sm-3,
  .gy-sm-3 {
    --tblr-gutter-y: 1rem;
  }
  .g-sm-4,
  .gx-sm-4 {
    --tblr-gutter-x: 2rem;
  }
  .g-sm-4,
  .gy-sm-4 {
    --tblr-gutter-y: 2rem;
  }
  .g-sm-5,
  .gx-sm-5 {
    --tblr-gutter-x: 4rem;
  }
  .g-sm-5,
  .gy-sm-5 {
    --tblr-gutter-y: 4rem;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666667%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --tblr-gutter-x: 0;
  }
  .g-md-0,
  .gy-md-0 {
    --tblr-gutter-y: 0;
  }
  .g-md-1,
  .gx-md-1 {
    --tblr-gutter-x: 0.25rem;
  }
  .g-md-1,
  .gy-md-1 {
    --tblr-gutter-y: 0.25rem;
  }
  .g-md-2,
  .gx-md-2 {
    --tblr-gutter-x: 0.5rem;
  }
  .g-md-2,
  .gy-md-2 {
    --tblr-gutter-y: 0.5rem;
  }
  .g-md-3,
  .gx-md-3 {
    --tblr-gutter-x: 1rem;
  }
  .g-md-3,
  .gy-md-3 {
    --tblr-gutter-y: 1rem;
  }
  .g-md-4,
  .gx-md-4 {
    --tblr-gutter-x: 2rem;
  }
  .g-md-4,
  .gy-md-4 {
    --tblr-gutter-y: 2rem;
  }
  .g-md-5,
  .gx-md-5 {
    --tblr-gutter-x: 4rem;
  }
  .g-md-5,
  .gy-md-5 {
    --tblr-gutter-y: 4rem;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --tblr-gutter-x: 0;
  }
  .g-lg-0,
  .gy-lg-0 {
    --tblr-gutter-y: 0;
  }
  .g-lg-1,
  .gx-lg-1 {
    --tblr-gutter-x: 0.25rem;
  }
  .g-lg-1,
  .gy-lg-1 {
    --tblr-gutter-y: 0.25rem;
  }
  .g-lg-2,
  .gx-lg-2 {
    --tblr-gutter-x: 0.5rem;
  }
  .g-lg-2,
  .gy-lg-2 {
    --tblr-gutter-y: 0.5rem;
  }
  .g-lg-3,
  .gx-lg-3 {
    --tblr-gutter-x: 1rem;
  }
  .g-lg-3,
  .gy-lg-3 {
    --tblr-gutter-y: 1rem;
  }
  .g-lg-4,
  .gx-lg-4 {
    --tblr-gutter-x: 2rem;
  }
  .g-lg-4,
  .gy-lg-4 {
    --tblr-gutter-y: 2rem;
  }
  .g-lg-5,
  .gx-lg-5 {
    --tblr-gutter-x: 4rem;
  }
  .g-lg-5,
  .gy-lg-5 {
    --tblr-gutter-y: 4rem;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }
  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666667%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --tblr-gutter-x: 0;
  }
  .g-xl-0,
  .gy-xl-0 {
    --tblr-gutter-y: 0;
  }
  .g-xl-1,
  .gx-xl-1 {
    --tblr-gutter-x: 0.25rem;
  }
  .g-xl-1,
  .gy-xl-1 {
    --tblr-gutter-y: 0.25rem;
  }
  .g-xl-2,
  .gx-xl-2 {
    --tblr-gutter-x: 0.5rem;
  }
  .g-xl-2,
  .gy-xl-2 {
    --tblr-gutter-y: 0.5rem;
  }
  .g-xl-3,
  .gx-xl-3 {
    --tblr-gutter-x: 1rem;
  }
  .g-xl-3,
  .gy-xl-3 {
    --tblr-gutter-y: 1rem;
  }
  .g-xl-4,
  .gx-xl-4 {
    --tblr-gutter-x: 2rem;
  }
  .g-xl-4,
  .gy-xl-4 {
    --tblr-gutter-y: 2rem;
  }
  .g-xl-5,
  .gx-xl-5 {
    --tblr-gutter-x: 4rem;
  }
  .g-xl-5,
  .gy-xl-5 {
    --tblr-gutter-y: 4rem;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666667%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --tblr-gutter-x: 0;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --tblr-gutter-y: 0;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --tblr-gutter-x: 0.25rem;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --tblr-gutter-y: 0.25rem;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --tblr-gutter-x: 0.5rem;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --tblr-gutter-y: 0.5rem;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --tblr-gutter-x: 1rem;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --tblr-gutter-y: 1rem;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --tblr-gutter-x: 2rem;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --tblr-gutter-y: 2rem;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --tblr-gutter-x: 4rem;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --tblr-gutter-y: 4rem;
  }
}

/* CARD */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(101, 109, 119, 0.16);
  border-radius: 4px;
}
.card > hr,
.card > .hr {
  margin-right: 0;
  margin-left: 0;
}
.card {
  box-shadow: rgba(35, 46, 60, 0.04) 0 2px 4px 0;
  border: 1px solid rgba(101, 109, 119, 0.16);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(101, 109, 119, 0.16);
  border-radius: 4px;
}
.card > hr,
.card > .hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

/* card-body */
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.card-body > :last-child {
  margin-bottom: 0;
}
.card-body-scrollable {
  overflow: auto;
}

/* card-title */
.card-title {
  margin-bottom: 0.5rem;
}
.card-title {
  display: block;
  margin: 0 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
a.card-title:hover {
  color: inherit;
}

/* card-subtitle */
.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

/* card-text */
.card-text:last-child {
  margin-bottom: 0;
}

/* card-link */
.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1rem;
}

/* card-header */
.card-header {
  padding: 0.75rem 1rem;
  margin-bottom: 0;
  color: #656d77;
  background-color: #f4f6fa;
  border-bottom: 1px solid rgba(101, 109, 119, 0.16);
}
.card-header:first-child {
  border-radius: 3px 3px 0 0;
}
.card-header {
  color: inherit;
  display: flex;
  align-items: center;
  background: transparent;
}
.card-header .card-title {
  margin: 0.125rem 0;
}

/* card-footer */
.card-footer {
  padding: 0.75rem 1rem;
  color: #656d77;
  background-color: #fff;
  border-top: 1px solid rgba(101, 109, 119, 0.16);
}
.card-footer:last-child {
  border-radius: 0 0 3px 3px;
}
.card-footer .avatar-list-stacked .avatar {
  box-shadow: 0 0 0 2px #ffffff;
}

/* TABLA */
table {
  caption-side: bottom;
  border-collapse: collapse;
}
.table {
  --tblr-table-bg: transparent;
  --tblr-table-striped-color: inherit;
  --tblr-table-striped-bg: #f4f6fa;
  --tblr-table-active-color: inherit;
  --tblr-table-active-bg: rgba(0, 0, 0, 0.1);
  --tblr-table-hover-color: inherit;
  --tblr-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  /* margin-bottom: 1rem; */
  color: inherit;
  vertical-align: top;
  border-color: rgba(101, 109, 119, 0.16);
}
.table > :not(caption) > * > * {
  /* padding-right: 0.5rem; */
  background-color: var(--tblr-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--tblr-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: rgba(101, 109, 119, 0.16);
}
.table thead th {
  color: #656d77;
  background: #f4f6fa;
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.6;
  color: #0d2a4b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.table-vcenter > :not(caption) > * > * {
  vertical-align: middle;
}
.table-fixHead {
  display: block;
  overflow: auto;
  height: 70vh;
}
.table-fixHead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: gainsboro;
  border-style: solid;
  border-width: 0;
}
tbody i {
  display: none;
}
tbody tr:hover i {
  display: block;
}

/* ANCHOS */
.w-1 {
  width: 0.25rem !important;
}
.w-75 {
  width: 75% !important;
}

/* CARD TABLE */
.card-table {
  margin-bottom: 0 !important;
}
.card-table tr td:first-child,
.card-table tr th:first-child {
  padding-left: 1rem;
}
.card-table tr td:last-child,
.card-table tr th:last-child {
  padding-right: 1rem;
}
.card-table thead tr:first-child td,
.card-table thead tr:first-child th {
  border-top: 0;
}
.card-table tbody tr:last-child td,
.card-table tbody tr:last-child th {
  border-bottom: 0;
}
.card-body + .card-table {
  border-top: 1px solid #e6e8e9;
}

/* DOTS MENU */
.dots-menu {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.dots-menu > .nav-item {
  display: block;
  float: left;
  padding: 7px 3px;
  margin: 0;
  position: relative;
}
.dots-menu > .nav-item > .nav-link {
  line-height: 1.2;
  display: block;
  position: relative;
  padding: 8px 16px;
  border-radius: 14px;
  text-decoration: none;
  color: #777;
  transition: background-color 300ms;
}
.dots-menu > .nav-item:hover > .nav-link {
  /* color: #585858; */
  color: #8aa8bd;
}
.dots-menu .nav-item:hover > ul {
  display: block;
}
.dots-menu ul {
  width: 220px;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 500;
  display: none;
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: #8aa8bd;
}
.dots-menu ul li {
  line-height: 1.5;
  width: 100%;
  padding: 3px 7px;
  margin: 0;
  position: relative;
  background-color: #fff;
  color: #8aa8bd;
}
.dots-menu ul li i {
  float: right;
  /* color: #8aa8bd; */
  color: inherit;
}

.dots-menu ul li:first-child {
  /* border: none; */
  border-radius: 7px 7px 0 0;
}
.dots-menu ul li:last-child {
  /* border: none; */
  border-radius: 0 0 7px 7px;
}
.dots-menu ul li .nav-link {
  display: flex;
  width: 100%;
  padding: 8px 16px;
  background-color: #fff;
  text-decoration: none;
  transition: background-color 300ms;
  color: #8aa8bd;
}
.dots-menu ul li:hover > .nav-link {
  background-color: #f3f8f8;
  /* color: #585858; */
  color: #8aa8bd;
}
.dots-menu ul ul {
  left: 100%;
  top: -7px;
  margin: 0;
}
.dots-menu .nav-item.drop-right ul {
  right: 2.5rem;
  left: auto;
  top: 0;
}
.dots-menu .nav-item.drop-right ul ul {
  right: 100%;
  left: auto;
}

/* ICON */
.dropdown-item-icon {
  width: 1.25rem !important;
  height: 1.25rem !important;
  margin-right: 0.5rem;
  color: inherit;
  opacity: 0.7;
  text-align: center;
}
