.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--tblr-gutter-x, 1.5rem);
  padding-left: var(--tblr-gutter-x, 1.5rem);
  margin-right: auto;
  margin-left: auto; 
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px; 
  } 
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px; 
  } 
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px; 
  } 
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px; 
  } 
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px; 
  } 
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column; 
}

.page-body {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; 
}
